<div class="container px-3 pt-60">
    <div class="justify-content-center">
        <div class="card w-100 th-bg-silver border-0 rounded-4" style="padding: 30px;">
            <img class="img-fluid rounded-4 object-fit-cover " alt="choice-your-team" [src]="'assets/img/support_assets/Banner_SamsungVSiPhone.webp'" 
            style="min-height: 200px;">
            <div class="card-footer row th-bg-silver text-center pt-30">
                <div class="col-sm-6 mb-3">
                    <button class="btn btn-light mx-5 py-3 roboto-medium">{{'choiceYourTeam.samsungDevices' | translate}}</button>
                </div>
                <div class="col-sm-6 mb-3">
                    <button class="btn btn-light mx-5 py-3 roboto-medium">{{'choiceYourTeam.appleDevices' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>