<div class="tp-login-social mb-10 d-flex flex-wrap align-items-center justify-content-center">
  <div class="tp-login-option-item">
      <a href="#" role="button" class="rounded-3">
        <img src="/assets/img/icon/login/google.svg" alt="">
      </a>
  </div>
  <div class="tp-login-option-item">
      <a href="#" role="button" class="rounded-3">
        <img src="/assets/img/icon/login/facebook.svg" alt="">
      </a>
  </div>
  <div class="tp-login-option-item">
      <a href="#" role="button" class="rounded-3">
        <img class="apple" src="/assets/img/icon/login/apple.svg" alt="">
      </a>
  </div>
</div>
